<div class="blog-container">
<div class="blog-box">
    <div class="blog-img" (mouseover)="zoomOut()" (mouseout)="zoomIn()">
      <img src="../../assets/images/400_crop_5cde754fd8528_5cde753d05c73.png" alt="projects">
    </div>
    <div class="blog-text">
      <span>Web Design.</span>
      <p>School website using HTML CSS and Javascript , bootstrap.</p>
      <a href="https://symphonious-fudge-fafa73.netlify.app/index.html" class="button-link">Read More</a>
    </div>
  </div>

  <div class="blog-box">
    <div class="blog-img" (mouseover)="zoomOut()" (mouseout)="zoomIn()">
      <img src="../../assets/images/taxcalculator-1080x675.jpg" alt="projects">
    </div>
    <div class="blog-text">
      <span>Tax - Calculator</span>
      <p>Tax - Calculator using Java Programming Language.</p>
      <a href="https://symphonious-fudge-fafa73.netlify.app/index.html" class="button-link">Read More</a>
    </div>
  </div>
  

  <div class="blog-box">
    <div class="blog-img" (mouseover)="zoomOut()" (mouseout)="zoomIn()">
      <img src="../../assets/images/maxresdefault.jpg" alt="projects">
    </div>
    <div class="blog-text">
      <span>Financial Calculator</span>
      <p>Financial-Calculator using Python programming Language.</p>
      <a href="#" class="button-link">Read More</a>
    </div>
  </div>

  <div class="blog-box">
    <div class="blog-img" (mouseover)="zoomOut()" (mouseout)="zoomIn()">
      <img src="../../assets/images/port.PNG" alt="mzamo image">
    </div>
    <div class="blog-text">
      <span>Demo oF my portfolio.</span>
      <p>School website using HTML, CSS and Javascript bootstrap</p>
      <a href="https://symphonious-fudge-fafa73.netlify.app/index.html" class="button-link">Read More</a>
    </div>
  </div>
  <div class="blog-box">
    <div class="blog-img" (mouseover)="zoomOut()" (mouseout)="zoomIn()">
      <img src="../../assets/images/coming_soon.jpg" alt="projects">
    </div>
    <div class="blog-text">
    <!----  <span>Web Design</span>
      <p>School website using HTML, CSS and Javascript bootstrap</p>
      <a href="https://symphonious-fudge-fafa73.netlify.app/index.html" class="button-link">Read More</a>-->
    </div>
  </div>

  <div class="blog-box">
    <div class="blog-img" (mouseover)="zoomOut()" (mouseout)="zoomIn()">
      <img src="../../assets/images/coming_soon.jpg" alt="projects">
    </div>
    <div class="blog-text">
     <!----<span>Web Design</span>
      <p>School website using HTML, CSS and Javascript bootstrap</p>
      <a href="https://symphonious-fudge-fafa73.netlify.app/index.html" class="button-link">Read More</a>-->
    </div>
  </div>
</div>

  
  
