.material-icons{
color:#00ffff;
transform:translate(-180%, 120%);
font-size:30px;
border: 2px solid black;
border-radius: 10px;
}
.container{
    width: 100%;
    padding: 35px 10%;
    border-bottom: 1px solid rgba(0,0,0,0.5);
     }
     .container{
        padding-right: calc(10% - 30px);
     }
    
     main.row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap:20px ;
     }
     .col header.title{
        font-family: helvatica;
        color:black;
        padding: 50px;
        margin-left: 110px;
     }
     .col .contents{
        padding: 0px 30px;
        border-left: 2px solid #bababa;
        margin-left: 30px;
     }
     .col .contents .box{
        position: relative;
        padding: 20px;
        border:1px solid #00ffff;
        background-color: #ffffff;
        cursor: pointer;
        transition: all 0.4s;
        margin-bottom: 20px;
     }
     .col .contents .box:hover{
        box-shadow: 2px 2px 0px 2px #00ffff;
    
     }
     .col .contents .box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top:0;
    background-color:gray;
    border: 1px solid white;
     }
     .box h4{
        position: relative;
        color: #11a372;
     }
     .box h3{
      font-size: 19px;
      padding: 10px 0px 6px;
      font-family: helvetica;
      color: black;
     }
     .box p{
        line-height: 1.4;
        color: #666;
        font-size: 17px;
     }
     