
    <div class="about-content">
        <h2>About Me</h2>
        <p>Web Developer & Responsive Web Designer</p>
    </div>
    <div class="content">
    <div class="image">
        <img src="../../assets/images/crop.jpg" alt="Profile Image">
    </div>
</div>
    <div class="about-text">
        <p>I'm a passionate web developer and designer with a keen eye for aesthetics and user experience. With a strong background in both front-end and back-end technologies, I create visually stunning and highly functional websites that engage users.</p>
    </div>
    <app-experience></app-experience>
    <app-my-skills></app-my-skills>
    <app-icons></app-icons>
