
    <div class="ina">
        <div class="containa">
            <div class="skil-box">
            <div class="skil-title">
                <div class="img">
                    <img src="../../assets/images/HTML.jpg"/>
                </div>
                <h3>HTML-5</h3>
            </div>
            <p>Hypertext Markup Language is the standard markup language used for creating the structure and presenting content on web pages. </p>      
            </div>
    
            <div class="skil-box">
                <div class="skil-title">
                    <div class="img">
                        <img src="../../assets/images/css.svg">
                    </div>
                    <h3>CSS</h3>
                </div>
                <p>Cascading Style Sheets is a stylesheet language used for describing the presentation and formatting of HTML (or XML) documents.</p>      
                </div>
    
               <!---- <div class="skil-box">
                    <div class="skil-title">
                        <div class="img">
                            <img src="../../assets/images/React-icon.svg.png"/>
                        </div>
                        <h3>React</h3>
                    </div>
                    <p>React is a JavaScript library used for building user interfaces (UIs) for web applications. </p>      
                    </div>
                -->
    
                    <div class="skil-box">
                        <div class="skil-title">
                            <div class="img">
                                <img src="../../assets/images/javas.png"/>
                            </div>
                            <h3>Javascript</h3>
                        </div>
                        <p>JavaScript is a programming language used for web development to add interactivity and dynamic functionality to web pages. </p>      
                        </div>
    
                        <div class="skil-box">
                            <div class="skil-title">
                                <div class="img">
                                    <img src="../../assets/images/Python-logo-notext.svg.png"/>
                                </div>
                                <h3>Python</h3>
                            </div>
                            <p>Python is a versatile programming language known for its simplicity and readability. </p>      
                            </div>
    
                            <div class="skil-box">
                                <div class="skil-title">
                                    <div class="img">
                                        <img src="../../assets/images/Node js.jpg"/>
                                    </div>
                                    <h3>Node.js</h3>
                                </div>
                                <p>Node.js is a JavaScript runtime environment built on the Chrome V8 JavaScript engine.</p>      
                                </div>
    
                                
                            <div class="skil-box">
                                <div class="skil-title">
                                    <div class="img">
                                        <img src="../../assets/images/Java.jpg"/>
                                    </div>
                                    <h3>Java</h3>
                                </div>
                                <p>Java is a programming language that is known for its simplicity, robustness, and platform independence.</p>      
                                </div>

                                <div class="skil-box">
                                    <div class="skil-title">
                                        <div class="img">
                                            <img src="../../assets/images/th.jpeg"/>
                                        </div>
                                        <h3>Angular</h3>
                                    </div>
                                    <p>Angular is a popular open-source JavaScript framework for building dynamic web applications.</p>      
                                    </div>
        </div>
    </div>
    
    