body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: whitesmoke;
}
.ina{
    padding-top: 40px;

 }
 .heda{
    text-align: center;
    padding: 1rem;
    position: relative;
 }.heda h1{
 margin-top: 50px;
 }
 .heda span{
    color: black;
 }
 
 .containa{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap:1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
    cursor:pointer;
 }
 .skil-box{
   background-color: #f2f2f2;
   border-radius: 1px;
   border: 1px solid #00ffff;
 }
 .skil-box:hover .img{
    transform:translateY(-20px);
 }
 .skil-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
 }
 .img img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 3px solid #00ffff;
    transform: .5s;
 }
 .img img:after{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width: 50%;
    height: 90px;
    border-radius:45px 0 0 45px;
 }
 .skil-title h3{
    margin-top: 0.5rem;
    margin-right: 10px;
 }
 .skill-icon{
    width: 50px;
 }