<div class="contact">
    <div class="containner">
        <div class="contactInfo">
        <div class="box">
        <div class="icon"><i class='bx bxs-map'></i></div>
        <div class="text">
        <h2>Address</h2>
        <p>Cape Town, South Africa</p>    
        </div>    
        </div> 
    
        <div class="box">
            <div class="icon"><i class='bx bxs-phone'></i></div>
            <div class="text">
            <h2>Phone</h2>
            <p>0765806404</p>    
            </div>    
            </div>
          
            <div class="box">
                <div class="icon"><i class='bx bxs-envelope'></i></div>
                <div class="text">
                <h2>Email</h2>
                <p>tsepophetla@gmail.com</p>    
                </div>    
            </div>
            <div class="social-media">
                <a href="https://github.com/Tsepo-Phetla"><i class='bx bxl-github'></i></a>
                <a href="https://linkedin.com/in/tsepo-phetla-95a22a194"><i class='bx bxl-linkedin-square' ></i></a>
                <a href="https://www.facebook.com/profile.php?id=100080247585709"><i class='bx bxl-facebook-circle' ></i></a>
            </div>
        </div>
        <div class="contactForm">
        <form>
        <h2>Send Message</h2>
        <div  class="inputBox">
           <!--<span>Full Name</span>-->
         <input type="text" name="" required="required" placeholder="Full Names" id="name">
            
        </div>  
    
        <div  class="inputBox">
            <!--<span>Email</span>-->
            <input type="text" name="" required="required" placeholder="Email" id="email">   
           </div>
    
           <div  class="inputBox">
          <!----  <span>Type your Message...</span>-->
            <textarea  required="required" placeholder="Type your Message..." id="message"></textarea>   
           </div>
           <div class="inputBox">
            <input type="button" name="" value="Send" onclick="Send()">
           </div>
        </form>    
        </div>
    </div>
    
</div>