<div class="home-container">
    <div class="background-image"></div>
    <div class="content">
      <div class="text-container">
        <h1>Hello, My name is</h1>
        <h2>Tsepo Phetla</h2>
        <p>And I'm a <span>Full-Stack Developer.</span></p>
        <p>I am a Computer Science graduate, with a passion for delivering integrated software.</p>
      </div>
    </div>
    <div class="social-icons">
      <ul>
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
    <div class="image-container">
        <img src="../../assets/images/crop2.jpg" alt="background-image">
       </div>
       <app-download-button></app-download-button>
  </div>
  
  
  
  